name: CI Pipeline

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  test-and-build:
    runs-on: ubuntu-latest

    services:
      db:
        image: postgres:16
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: logmein
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U postgres -d logmein"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install deps
        working-directory: backend
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -r requirements.dev.txt

      - name: Run tests
        working-directory: backend
        env:
          DB_HOST: db
          DB_PORT: 5432
          DB_NAME: logmein
          DB_USER: postgres
          DB_PASSWORD: postgres
        run: pytest -q

      - name: Build Docker image
        run: docker build -t logmein-backend ./backend
