name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  test-and-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install deps
        working-directory: backend
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt
          

      - name: Run tests
        working-directory: backend
        run: |
          python -m pytest -q

      - name: Build Docker image
        working-directory: backend
        run: |
          docker build -t logmein-backend .
